* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1 {
  margin-bottom: 3rem;
  font-size: 2.5em;
  font-weight: 500;
}
@media (max-width: 799px) {
  h1 {
    color: #eee;
  }
}
@media (max-width: 499px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.7rem;
}
@media (max-width: 799px) {
  h2 {
    color: #eee;
  }
}
@media (max-width: 499px) {
  h2 {
    font-size: 1.3em;
  }
}

label {
  font-size: 0.9em;
  display: block;
  margin-bottom: 0.5rem;
  color: rgb(128, 128, 128);
}
@media (max-width: 799px) {
  label {
    color: rgb(172, 172, 172);
  }
}

button {
  padding: 0.65rem 1.5rem;
  border-radius: 7px;
  font-weight: 600;
}

input, select {
  font-size: 0.9em;
  border: 2px solid #e4e4e8;
  border-radius: 5px;
  padding: 0.6rem 0.8rem;
}
input:focus, select:focus {
  outline: none;
  border: 2px solid rgb(0, 154, 0);
}
input::-moz-placeholder, select::-moz-placeholder {
  color: rgb(207, 207, 207);
}
input::placeholder, select::placeholder {
  color: rgb(207, 207, 207);
}

.switch-container {
  display: flex;
  height: 1.3rem;
  width: 3rem;
  border-radius: 25px;
  background-color: rgb(222, 222, 222);
  padding: 0.25rem;
  cursor: pointer;
}
.switch-container.active {
  justify-content: flex-end;
  background-color: green;
}
.switch-container .switch-button {
  background-color: white;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.registration-container {
  display: flex;
  gap: 15px;
  box-sizing: border-box;
  height: 100vh;
  padding: 0.75rem;
  overflow: hidden;
}
.registration-container .img-container {
  border-radius: 12px;
  overflow: hidden;
  flex: 0.9;
}
@media (max-width: 799px) {
  .registration-container .img-container {
    flex: 0;
  }
}
.registration-container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 799px) {
  .registration-container .img-container img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    filter: brightness(80%);
  }
}
.registration-container .forms-container {
  padding: 3rem 5rem;
  box-sizing: border-box;
  width: 52vw;
  flex: 1;
  overflow: auto;
}
.registration-container .forms-container::-webkit-scrollbar {
  width: 5px;
}
.registration-container .forms-container::-webkit-scrollbar-button {
  background: #ccc;
}
.registration-container .forms-container::-webkit-scrollbar-thumb {
  background: rgba(238, 238, 238, 0.1921568627);
}
@media (max-width: 799px) {
  .registration-container .forms-container {
    background: rgba(255, 255, 255, 0.188);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
@media (max-width: 499px) {
  .registration-container .forms-container {
    padding: 3rem 2rem;
  }
}
.registration-container .forms-container form .full {
  width: 100%;
  box-sizing: border-box;
}
.registration-container .forms-container form .flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 799px) {
  .registration-container .forms-container form .flex {
    gap: 0.7rem;
  }
}
@media (max-width: 599px) {
  .registration-container .forms-container form .flex {
    flex-direction: column;
  }
}
.registration-container .forms-container form .flex-1 {
  flex: 1;
}
.registration-container .forms-container form .slider {
  width: 100%;
  transition: margin-left 0.15s ease-in-out;
}
.registration-container .forms-container form .slider .category-container {
  display: none;
  position: relative;
}
.registration-container .forms-container form .slider .category-container.active {
  display: block;
}
.registration-container .forms-container form .slider .category-container .list-actions {
  display: flex;
  justify-content: flex-end;
}
.registration-container .forms-container form .slider .category-container .list-actions button {
  padding: 0.5rem 0.75rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.registration-container .forms-container form .slider .category-container .list-actions button:hover {
  background-color: rgba(171, 171, 171, 0.0941176471);
}
.registration-container .forms-container form .slider .category-container .category-header {
  margin-bottom: 3rem;
}
.registration-container .forms-container form .slider .category-container .category-header p {
  color: #707070;
  font-weight: 300;
}
@media (max-width: 799px) {
  .registration-container .forms-container form .slider .category-container .category-header p {
    color: #c8c8c8;
  }
}
.registration-container .forms-container form .slider .category-container .field-container {
  margin-bottom: 1.5rem;
}
.registration-container .forms-container form .slider .category-container .field-container .label-container {
  align-items: center;
  margin-bottom: 0.5rem;
}
.registration-container .forms-container form .slider .category-container .field-container .label-container label {
  margin: 0;
}
.registration-container .forms-container form .slider .category-container .field-container .label-container .remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.registration-container .forms-container form .slider .category-container .field-container .label-container .remove-btn svg {
  fill: rgba(96, 96, 96, 0.502);
  height: 1rem;
  aspect-ratio: 1/1;
}
.registration-container .forms-container form .slider .category-container .field-container .label-container .remove-btn svg:hover {
  fill: rgba(96, 96, 96, 0.712);
}
.registration-container .forms-container form .form-control-container {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}
.registration-container .forms-container form .form-control-container button {
  color: rgb(153, 153, 153);
  border: 2px solid rgb(228, 228, 228);
  cursor: pointer;
  background-color: white;
}
.registration-container .forms-container form .form-control-container button.affirm:not(:disabled) {
  background-color: green;
  border: 1px solid green;
  color: white;
}
.registration-container .forms-container form .form-control-container button.affirm:not(:disabled):hover {
  background-color: rgb(0, 109, 0);
}
.registration-container .forms-container form .form-control-container button:hover {
  background-color: rgb(249, 249, 249);
}
.registration-container .forms-container form .form-control-container button:disabled {
  color: rgb(153, 153, 153);
  border: 2px solid rgb(228, 228, 228);
  cursor: not-allowed;
  background-color: white;
}/*# sourceMappingURL=styles.css.map */