@import "./breakpoints.scss";

@font-face {
    font-family: 'galliardroman';
    src: url('../fonts/galliard_roman-webfont.woff') format('woff'),
        url('../fonts/galliard_roman-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1 {
    margin-bottom: 3rem;
    font-size: 2.5em;
    font-weight: 500;

    @include media("<800px") {
        color: #eee;
    }

    @include media("<500px") {
        font-size: 2em;
    }
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0.7rem;

    @include media("<800px") {
        color: #eee;
    
    }

    @include media("<500px") {
        font-size: 1.3em;
    }
}

label {
    font-size: 0.9em;
    display: block;
    margin-bottom: 0.5rem;
    color: rgb(128, 128, 128);

    @include media("<800px") {
        color: rgb(172, 172, 172);
    
    }
}

button {
    padding: 0.65rem 1.5rem;
    border-radius: 7px;
    font-weight: 600;
}

input, select {
    font-size: 0.9em;
    border: 2px solid #e4e4e8;
    border-radius: 5px;
    padding: 0.6rem 0.8rem;

    &:focus {
        outline: none;
        border: 2px solid rgb(0, 154, 0);
    }

    &::placeholder {
        color: rgb(207, 207, 207);
    }
}


.switch-container {
    display: flex;
    height: 1.3rem;
    width: 3rem;
    border-radius: 25px;
    background-color: rgb(222, 222, 222);
    padding: 0.25rem;
    cursor: pointer;

    &.active {
        justify-content: flex-end;
        background-color: green;
    }

    .switch-button {
        background-color: white;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 100%;
    }
}


.registration-container {
    display: flex;
    gap: 15px;
    box-sizing: border-box;
    height: 100vh;
    padding: 0.75rem;
    overflow: hidden;

    .form-header {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 5rem;

        .logo-container {
            .dlsud-logo-img {
                height: 6rem;
                aspect-ratio: 1/1;

                @include media("<800px") {
                    height: 4rem;
                }
            }
        }

        .header-content {
            color: rgb(0, 93, 0);
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h1 {
                font-family: 'galliardroman';
                font-weight: 400;
                font-size: 3vw;
                margin: 0;

                @include media("<800px") {
                    font-size: 4vw;
                }
            }
            h2 {
                font-family: 'galliardroman';
                font-size: 2vw;
                letter-spacing: 0.9em;
                margin: 0;

                @include media("<800px") {
                    font-size: 2.5vw;
                }
            }
        }

    }

    .img-container {
        border-radius: 12px;
        overflow: hidden;
        flex: 0.9;

        @include media("<800px") {
            flex: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include media("<800px") {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                z-index: -1;
                filter: brightness(80%);
            }
        }
    }

    .forms-container {
        padding: 3rem 5rem;
        box-sizing: border-box;
        width: 52vw;
        flex: 1;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-button {
            background: #ccc
        }
        &::-webkit-scrollbar-thumb {
            background: #eeeeee31
        }

        @include media("<800px") {
            background: rgba(255, 255, 255, 0.188);
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 10.5px );
            -webkit-backdrop-filter: blur( 20px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }

        @include media("<500px") {
            padding: 3rem 2rem;
        }

        form {
            
            .full {
                width: 100%;
                box-sizing: border-box;
            }
            
            .flex {
                display: flex;
                align-items: center;
                gap: 2rem;

                @include media("<800px") {
                    gap: 0.7rem;
                }

                @include media("<600px") {
                    flex-direction: column;
                }
            }

            .flex-1 {
                flex: 1;
            }
            
            .slider {
                width: 100%;
                transition: margin-left 0.15s ease-in-out;

                .category-container {
                    display: none;
                    position: relative;

                    &.active {
                        display: block;
                    }

                    .list-actions {
                        display: flex;
                        justify-content: flex-end;

                        button {
                            padding: 0.5rem 0.75rem;
                            border: none;
                            background-color: transparent;
                            cursor: pointer;

                            &:hover {
                                background-color: #ababab18;
                            }
                        }
                    }


                    .category-header {
                        margin-bottom: 3rem;
                        p {
                            color: #707070;
                            font-weight: 300;

                            @include media("<800px") {
                                color: #c8c8c8;
                            
                            }
                        }
                    }

                    
                    .field-container {
                        margin-bottom: 1.5rem;

                        .label-container {
                            align-items: center;
                            margin-bottom: 0.5rem;

                            label {
                                margin: 0;
                            }
                        
                            .remove-btn {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: none;
                                background-color: transparent;
                                cursor: pointer;
        
                                svg {
                                    fill: rgba(96, 96, 96, 0.502);
                                    height: 1rem;
                                    aspect-ratio: 1/1;
                                    
                                    &:hover {
                                        fill: rgba(96, 96, 96, 0.712);
                                    }
                                }
        
                            }
                        }
                    }
                }
            }
            
            .form-control-container {
                margin-top: 3rem;
                display: flex;
                gap: 1rem;

                button {
                    color: rgb(153, 153, 153);
                    border: 2px solid rgb(228, 228, 228);
                    cursor: pointer;
                    background-color: white;
    
                    &.affirm:not(:disabled) {
                        background-color: green;
                        border: 1px solid green;
                        color: white;
    
                        &:hover {
                            background-color: rgb(0, 109, 0);
                        }
    
                    }
    
                    &:hover {
                        background-color: rgb(249, 249, 249);
                    }

                    &:disabled {
                        color: rgb(153, 153, 153);
                        border: 2px solid rgb(228, 228, 228);
                        cursor: not-allowed;
                        background-color: white;
                    }
                }
            }
        }
    }
}